/* Fondo de la página */
body {
	background: #ddd;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

/* Se centra el contenido */
.center {
	background-color: white;
	border-radius: 10px;
	margin: 0;
	padding: 10px;
	position: absolute;
	width: 640px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
}

.center img {
	position: absolute;
	float: left;
	top: 0;
	left: 50%;
	height: 150px;
	transform: translate(-50%, -130px);
}

/* Se ponen de arriba de todo */
.top {
	display: block;
	border-bottom: 1px solid #333;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
}

/* Parte de search */

#search {
	padding: 0;
	display: block;
	text-align: center;
}

input, select {
	outline: none;
}

input:focus, select:focus, button:focus {
	box-shadow: 0 0 1pt 1pt #2288ff;
}

input:focus.error {
	box-shadow: 0 0 1pt 1pt red;
}

input[type=text], input[type=search] {
	border-radius: 5px 0 0 5px;
	border: 1px solid #888;
	border-right: 0px;
	background: white;
	font-size: 12px;
	color: black;
	margin: 0;
	padding: 5px;
	width: 560px;
	vertical-align: top;
}

#submit {
	border-radius: 0 5px 5px 0;
	border: 1px solid #888;
	background: #f0f0f0;
	font-size: 24px;
	color: black;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

input[type=button], input[type=submit] {
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid #888;
	background: #f0f0f0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

#deleto {
	color: white;
	border-radius: 5px;
	background-size: cover;
	border: 1px solid black;
	box-shadow: 0px 6px 0px black;
	width: 128px;
	height: 128px;
	text-align: center;
	vertical-align: middle;
}

#deleto:active {
	margin-top: 6px;
	box-shadow: none;
}

#more, #expand {
	font-size: 24px;
	color: black;
}

.hidden {
	opacity: 0;
	height: 0px;
	margin-top: 0px;
	overflow: hidden;
	transition: height, 0.25s linear;
}

.hidden.open {
	opacity: 1;
	height: 270px;
	margin-top: 10px;
	transition: height, 0.25s linear;
}

#advance-search table {
	width: 100%;
}

#advance-search td {
	padding: 2px 0;
}

#advance-search .deleto-container {
	border-top: 1px solid #888;
	padding-top: 10px;
	text-align: center;
	vertical-align: center;
}

#advance-search .title {
	border-top: 1px solid #888;
	text-align: left;
	padding-top: 5px;
}

#advance-search .label {
	text-align: right;
	padding-right: 10px;
}

#advance-search input[type=text] {
	border-radius: 5px;
	border: 1px solid #888;
	padding: 5px;
	margin: 0;
	width: 200px;
}

.checkboxrow {
	font-size: 0.75em;
	text-align: center;
}

#advance-search select {
	border-radius: 5px;
	background: #f0f0f0;
	border: 1px solid #888;
	font-size: 13px;
	color: black;
	padding: 5px;
	margin: 0;
	width: 200px;
}

.noscrollable {
	overflow: hidden;
	background: white;
}

.aggregate {
	text-align: center;
}

.aggregate div {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
}

.aggregate input[type=button] {
	padding: 4px 8px;
	font-size: 0.75em;
	margin-bottom: 10px;
}

.aggregate input[type=button]:last-child {
	margin-bottom: 0;
}
