/* Se ponen de arriba de todo */
.top {
	display: block;
	border-bottom: 1px solid #333;
	margin-bottom: 10px;
}

main {
	background: white;
	border-radius: 5px;
	width: 720px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 20px 0;
	padding: 10px;
}

.logo {
	float: left;
	width: 0;
}

#main {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

#main img {
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#main h2 img {
	margin-left: 10px;
	height: 1em;
}

#main tr {
	display: block;
	padding: 10px;
	margin: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #aaa;
}

#main td:nth-child(1) {
	width: 150px;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	text-align: center;
}

.aggregation {
	width: 130px;
	display: inline-block;
	padding: 5px 0;
	margin: 0 5px;
	font-size: 10pt;
	border-radius: 5px;
	color: white;
	border: none;
	font-weight: bold;
}

.aggregation:hover {
	opacity: .75;
}

.selected {
	opacity: .5;
}

.selected:hover {
	opacity: .5;
}

.aggregation span {
	float: right;
	margin-right: 10px;
	color: white;
}

.culture {
	background: #1aa2cb;
}

.subculture {
	background: #5d1cb1;
}

.event {
	background: #0b6a40;
}

.meme {
	background: #220a51;
}

.person {
	background: #d32f2e;
}

.confirmed {
	background: #00cc00;
}

.submission {
	background: #cc8800;
}

.deadpool {
	background: #cc0000;
}

.pagination {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.pagination a, .pagination span {
	float: left;
	padding: 4px 8px;
	border-radius: 5px;
	margin: 0 4px;
}

.pagination a.active {
	background-color: #888;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

em {
	background-color: yellow;
	font-style: normal;
}
