{% extends "index.html" %}
{% load static %}

{% block style %}
		<link rel="stylesheet" href="{% static "styles/index.css" %}">
		<link rel="stylesheet" href="{% static "styles/search.css" %}">
{% endblock %}

{% block content %}
		<main>
			<header style="text-align: center">
				<img src="{{ image }}" width="480px"><br><br>
				<form action="/memesearch" method="post">
					<input style="padding: 10px" type="submit" value="return to meme zone">
				</form>
			</header>
		</main>
{% endblock %}
