{% load static %}
<!DOCTYPE>
<html>
	<head>
		<!-- Título de la página -->
		<title>The ultimate meme search</title>

		<!-- Metadatas -->
		<meta charset="UTF-8">
		<meta name="description" content="The Ultimate Great, Amazing and Awesome Meme Searcher">
		<meta name="keywords" content="meme,keywords,searcher,dogo,cat">

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="{% static "images/cat.png" %}">

		<!-- Estilo -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		{% block style %}
		<link rel="stylesheet" href="{% static "styles/index.css" %}?{% now "U" %}">
		{% endblock %}

	</head>
	<body>
		<!-- Cabecera -->
		{% block content %}
		<header class="center">
			<a href="/memesearch/search?q=doge"><img src="{% static "images/doge.png" %}"></a>
			<h1>The Ultimate Meme Searcher</h1>
			<!-- Formulario de búsqueda -->
			<form>
				<!-- Búsqueda normal -->
				<div id="search">
					<input class="param" type="search" name="q" placeholder="much meme... so impress..."><input id="submit" type="button" onclick="onSearch()" class="material-icons" value="search">
					<input id="more" type="button" onclick="onPressMore()" class="material-icons" value="expand_more">
					<input id="expand" class="param" type="hidden" name="expand">
				</div>

				<!-- Este div contiene la información avanzada -->
				<div class="hidden" id="advance-search">
					<table>
						<tr>
							<td class="title" colspan="4">Filters:</td>
						</tr>

						<tr>
							<td class="label">Title:</td>
							<td><input class="param" type="text" name="title"></td>
							<td class="label">Tags:</td>
							<td><input class="param" type="text" name="tags"></td>
						</tr>

						<tr>
							<td class="label">Origin:</td>
							<td><input class="param" type="text" name="origin"></td>
							<td class="label">Year:</td>
							<td><input class="param" type="text" name="year" oninput="printValidation(this)" placeholder="from - to"></td>
						</tr>
						<tr class="checkboxrow">
							<td colspan="2">
								<input class="param" type="checkbox" name="optionalOrigin">Only if u can pwetty pwease
							</td>
							<td colspan="2">
								<input class="param" type="checkbox" name="optionalYear">Only if u can pwetty pwease
							</td>
						</tr>

						<tr>
							<td class="deleto-container" colspan="4">
								<button type="button" id="deleto" style="background-image: url('{% static 'images/deletThis.png' %}')" onclick="deletThis()"></button>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</header>
		{% endblock %}

		<!-- Código Javascript -->
		<script type="text/javascript" src="{% static "scripts/index.js" %}?{% now "U" %}"></script>
	</body>
</html>
