{% extends "index.html" %}
{% load static %}

{% block style %}
		<link rel="stylesheet" href="{% static "styles/index.css" %}?{% now "U" %}">
		<link rel="stylesheet" href="{% static "styles/search.css" %}?{% now "U" %}">
{% endblock %}

{% block content %}
		<main>
			<header class="top">
				<div class="logo">
					<a href="/memesearch/search?q=doge"><img src="{% static "images/doge_esta_impaktado.png" %}" height="88px"></a>
				</div>

				<h1><a href="/memesearch">The Ultimate Meme Searcher</a></h1>
				<!-- Formulario de búsqueda -->
				<form>
					<!-- Búsqueda normal -->
					<div id="search">
						<input class="param" type="text" name="q" value="{{ query }}" placeholder="much meme... so impress.."><input id="submit" type="button" onclick="onSearch()" class="material-icons" value="search">
						<input id="more" type="button" onclick="onPressMore()" class="material-icons" value="{% if expand == "true" %}expand_less{% else %}expand_more{% endif %}">
						<input class="param" type="hidden" name="expand" value="{{ expand }}">
					</div>

					<!-- Este div contiene la información avanzada -->
					<div class="hidden{% if expand == "true" %} open{% endif %}" id="advance-search">
						<table>
							<tr>
								<td class="title" colspan="4">Filters:</td>
							</tr>

							<tr>
								<td class="label">Title:</td>
								<td><input class="param" type="text" name="title" value="{{ title }}"></td>
								<td class="label">Tags:</td>
								<td><input class="param" type="text" name="tags" value="{{ tags }}"></td>
							</tr>

							<tr>
								<td class="label">Origin:</td>
								<td><input class="param" type="text" name="origin" value="{{ origin }}"></td>
								<td class="label">Year:</td>
								<td><input class="param" type="text" name="year" value="{{ year }}" oninput="printValidation(this)" placeholder="from - to"></td>
							</tr>
							<tr class="checkboxrow">
								<td colspan="2">
									<input class="param" type="checkbox" {% if optionalOrigin %}checked{% endif %} name="optionalOrigin">Only if u can pwetty pwease
								</td>
								<td colspan="2">
									<input class="param" type="checkbox" {% if optionalYear %}checked{% endif %} name="optionalYear">Only if u can pwetty pwease
								</td>
							</tr>

							<tr>
								<td class="deleto-container" colspan="4">
									<button type="button" id="deleto" style="background-image: url('{% static 'images/deletThis.png' %}')" onclick="deletThis()"></button>
								</td>
							</tr>
						</table>
					</div>
				</form>
			</header>

			<input id="aggregation" type="hidden" value="{{ aggregation }}">
			<input id="category" type="hidden" value="{{ category }}">
			<input id="status" type="hidden" value="{{ status }}">
			{% if aggregation == "status" %}
			<div style="text-align: center; margin-bottom: 10px;">
				<button class="aggregation confirmed{% if status == "Confirmed" %} selected{% endif %}" onclick="onFilter('status','Confirmed');">Confirmed
					<span>
						{%if aggregations.confirmed %}{{ aggregations.confirmed }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation submission{% if status == "Submission" %} selected{% endif %}" onclick="onFilter('status','Submission');">Submission
					<span>
						{%if aggregations.submission %}{{ aggregations.submission }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation deadpool{% if status == "Deadpool" %} selected{% endif %}" onclick="onFilter('status','Deadpool');">Deadpool
					<span>
						{%if aggregations.deadpool %}{{ aggregations.deadpool }}{% else %}0{% endif %}
					</span>
				</button>
			</div>

			<div style="text-align: center; margin-bottom: 10px;">
				<button class="aggregation meme{% if category == "Meme" %} selected{% endif %}" onclick="onFilter('category','Meme');">Meme
					<span>
						{%if aggregations.meme %}{{ aggregations.meme }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation culture{% if category == "Culture" %} selected{% endif %}" onclick="onFilter('category','Culture');">Culture
					<span>
						{%if aggregations.culture %}{{ aggregations.culture }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation subculture{% if category == "Subculture" %} selected{% endif %}" onclick="onFilter('category','Subculture');">Subculture
					<span>
						{%if aggregations.subculture %}{{ aggregations.subculture }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation event{% if category == "Event" %} selected{% endif %}" onclick="onFilter('category','Event');">Event
					<span>
						{%if aggregations.event %}{{ aggregations.event }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation person{% if category == "Person" %} selected{% endif %}" onclick="onFilter('category','Person');">Person
					<span>
						{%if aggregations.person %}{{ aggregations.person }}{% else %}0{% endif %}
					</span>
				</button>
			</div>
			{% else %}
			<div style="text-align: center; margin-bottom: 10px;">
				<button class="aggregation meme{% if category == "Meme" %} selected{% endif %}" onclick="onFilter('category','Meme');">Meme
					<span>
						{%if aggregations.meme %}{{ aggregations.meme }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation culture{% if category == "Culture" %} selected{% endif %}" onclick="onFilter('category','Culture');">Culture
					<span>
						{%if aggregations.culture %}{{ aggregations.culture }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation subculture{% if category == "Subculture" %} selected{% endif %}" onclick="onFilter('category','Subculture');">Subculture
					<span>
						{%if aggregations.subculture %}{{ aggregations.subculture }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation event{% if category == "Event" %} selected{% endif %}" onclick="onFilter('category','Event');">Event
					<span>
						{%if aggregations.event %}{{ aggregations.event }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation person{% if category == "Person" %} selected{% endif %}" onclick="onFilter('category','Person');">Person
					<span>
						{%if aggregations.person %}{{ aggregations.person }}{% else %}0{% endif %}
					</span>
				</button>
			</div>

			<div style="text-align: center; margin-bottom: 10px;">
				<button class="aggregation confirmed{% if status == "Confirmed" %} selected{% endif %}" onclick="onFilter('status','Confirmed');">Confirmed
					<span>
						{%if aggregations.confirmed %}{{ aggregations.confirmed }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation submission{% if status == "Submission" %} selected{% endif %}" onclick="onFilter('status','Submission');">Submission
					<span>
						{%if aggregations.submission %}{{ aggregations.submission }}{% else %}0{% endif %}
					</span>
				</button>
				<button class="aggregation deadpool{% if status == "Deadpool" %} selected{% endif %}" onclick="onFilter('status','Deadpool');">Deadpool
					<span>
						{%if aggregations.deadpool %}{{ aggregations.deadpool }}{% else %}0{% endif %}
					</span>
				</button>
			</div>
			{% endif %}

{% block main %}
{% for hit in hits %}
			<table id="main">
				<tr>
					<td>
						<a href="{{ hit.url }}" target="_blank"><img src="{{ hit.image }}" width="100%"></a>
					</td>
					<td>
						<h2><a href="{{ hit.url }}" target="_blank">{{ hit.title|safe }}</a><img src="{{ hit.category }}"></h2>
						<p><span><img src="{{ hit.status }}"></span>&nbsp;-&nbsp;{{ hit.origin }}&nbsp;-&nbsp;{% if hit.year == "-1" %}Unknown{% else %}{{ hit.year }}{% endif %}</p>
						<p>{{ hit.description }}</p>
						<p class="checkboxrow">tags: {{ hit.tags|safe }}</p>
						<!-- TODO mostrarlo de forma opcional I guess. Formatear un poco mejor -->
						{% if hit.matchedcontent|length > 0 %}
						<a href="javascript:void(0)" onclick="onContentMatches(this)">Content matches +</a>
						<div style="display: none;">
							{% for match in hit.matchedcontent %}
							<p>{{ match|safe }}</p>
							{% endfor %}
						<div>
						{% endif %}
					</td>
				</tr>
			</table>
{% endfor %}

{% if total_pages != 1 %}
		<footer class="pagination">
			{% for numPage in pages %}
				{% if numPage == totalPages and maxPageSkipped %}
					<span>...</span>
				{% endif %}
				<a {% if numPage == page %}class="active"{% endif %} href="javascript:void(0)" onclick="onPage({{ numPage }})">{{ numPage }}</a>
				{% if numPage == 1 and minPageSkipped %}
					<span>...</span>
				{% endif %}
			{% endfor %}
		</footer>
{% endif %}
{% endblock %}
		</main>
{% endblock %}
