{% extends "search.html" %}
{% load static %}

{% block main %}
			<div style="text-align: center">
				<h2>No memes found</h2>
				<a href="/memesearch/search?q=where%27s%20that%20damn%20fourth%20chaos%20emerald"><img src="{% static 'images/DAMN.png' %}?{% now "U" %}" width="640"></a>
			</div>
{% endblock %}
